
<div class="container">
    <hgroup class="mb20">
		<h1>搜索结果</h1>
		<h2 class="lead">今日汇率：<strong class="text-danger"></strong> 100日元= <strong class="text-danger"><%= $rate %></strong>元</h2>
	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">

    	<ul class="nav nav-pills nav-justified">
    	  <li class="active"><a href="#kakaku" data-toggle="tab" aria-expanded="true">日本価格网<span class="badge"><%= @kproducts.count %></span></a></li>
    	  <li class=""><a href="#amazon" data-toggle="tab" aria-expanded="false">日本亚马逊<span class="badge"><%= @aproducts.count %></span></a></li>
    	  <li class=""><a href="#rakute" data-toggle="tab" aria-expanded="false">日本楽天网<span class="badge"><%= @rproducts.count %></span></a></li>
    	</ul>

    	<%= @kakaku_url %>
    	<div id="myTabContent" class="tab-content">

	    	  <div class="tab-pane fade active in" id="kakaku">
	    	  		<% unless @kproducts.nil? %>
	    	  			<% @kproducts.each do |k|%>
	    	  				<p>
		    	  			 	<article class="search-result row">
		    	  					<div class="col-xs-12 col-sm-12 col-md-3">
		    	  						<a href="#" title="Lorem ipsum" class="thumbnail"><%= image_tag k.second[:img_url] %></a>
		    	  					</div>
		    	  					<div class="col-xs-12 col-sm-12 col-md-3" id="border">
		    	  						<ul class="meta-search">
		    	  							<li><i class="fa fa-diamond"></i><span class="text-danger">￥<%= k.second[:price] %>元</span></li>
		    	  							<li><i class="fa fa-pie-chart"></i><span><%= k.second[:category] %></span></li>
		    	  							<li><i class="fa fa-meh-o"></i><span><%= k.second[:score] %></span>分</li>
		    	  						</ul>
		    	  					</div>
		    	  					<div class="col-xs-12 col-sm-12 col-md-6">
		    	  						<h3><%= link_to k.second[:title],k.second[:url],target:"_blank" %></h3>
		    	  						<p><%= k.second[:introduction] %></p>						
		    	  		                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
		    	  					</div>
		    	  					<span class="clearfix borda"></span>
		    	  				</article>

	    	  				</p>
	    	  			<% end %>
	    	  		<% end %>
			  </div>

    	  
    	 
	    	    <div class="tab-pane fade" id="amazon">
	    	  		<% unless @aproducts.nil? %>
	    	  			<% @aproducts.each do |a|%>
	    	  				<p>
		    	  			 	<article class="search-result row">
		    	  					<div class="col-xs-12 col-sm-12 col-md-3">
		    	  						<a href="#" title="Lorem ipsum" class="thumbnail"><%= image_tag a.second[:img_url] %></a>
		    	  					</div>
		    	  					<div class="col-xs-12 col-sm-12 col-md-3" id="border">
		    	  						<ul class="meta-search">
		    	  							<li><i class="glyphicon glyphicon-tags"></i><span class="text-danger">￥<%= a.second[:price] %>元</span></li>
		    	  							<li><i class="glyphicon glyphicon-time"></i> <span><%= a.second[:category] %></span></li>
		    	  							
		    	  						</ul>
		    	  					</div>
		    	  					<div class="col-xs-12 col-sm-12 col-md-6">
		    	  						<h3><a href="#" title=""><%= link_to a.second[:title],a.second[:url],target:"_blank" %></h3>
		    	  						<p><%= a.second[:introduction] %></p>						
		    	  		                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
		    	  					</div>
		    	  					<span class="clearfix borda"></span>
		    	  				</article>
	    	  				</p>
	    	  			<% end %>
	    	  		<% end %>
				 </div>

		    	 <div class="tab-pane fade" id="rakute">
		    	  		<% unless @rproducts.nil? %>
		    	  			<% @rproducts.each do |r|%>
		    	  				<p>
			    	  			 	<article class="search-result row">
			    	  					<div class="col-xs-12 col-sm-12 col-md-3">
			    	  						<a href="#" title="Lorem ipsum" class="thumbnail"><%= image_tag r.second[:img_url] %></a>
			    	  					</div>
			    	  					<div class="col-xs-12 col-sm-12 col-md-3" id="border">
			    	  						<ul class="meta-search">
			    	  							
			    	  							<li><i class="fa fa-money"></i> <span class="text-danger">￥<%= r.second[:price] %>元</span></li>
			    	  							<li><i class="glyphicon glyphicon-calendar"></i> <span><%= r.second[:store] %></span></li>
			    	  							
			    	  							
			    	  						</ul>
			    	  					</div>
			    	  					<div class="col-xs-12 col-sm-12 col-md-6">
			    	  						<h3><a href="#" title=""><%= link_to r.second[:title],r.second[:url],target:"_blank" %></a></h3>
			    	  						<p><%= r.second[:introduction] %></p>						
			    	  		                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
			    	  					</div>
			    	  					<span class="clearfix borda"></span>
			    	  				</article>
		    	  				</p>
		    	  			<% end %>
		    	  		<% end %>
				 </div>
    	</div>
	</section>
</div>