<section class="card">
  <figure class="panel meta">
    <picture>
      <img class="avatar" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67516/Screen_Shot_2015-11-18_at_11.47.23_AM.png" width="128" height="128"/>
      <img class="company-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67516/b-01.png" alt="BigglesCodes" width="40" height="40"/>
    </picture>
    <figcaption>

      <h1 class="name"><%=@user.user_name %></h1>
      <h3 class="title">个人主页</h3>
    </figcaption>
  </figure>
  
  <div class="panel info">
    <dl class="skillz">
      <dt>性别:<%=@user.sex %></dt>
      <dd>98</dd>
      <dt>生日:<%=@user.birthday %></dt>
      <dd>86</dd>
      <dt>社交账号:<%=@user.contact %></dt>
      <dd>28</dd>
      <dt>个人签名:<%=@user.introduction %></dt>
      <dd>32</dd>
    </dl>
    
    <ul class="social">
      <li><a class="icon-social-twitter" href="https://twitter.com/bigglesrocks">Twitter</a></li>
      <li><a class="icon-social-github" href="https://github.com/jlegosama">Github</a></li>
      <li><a class="icon-social-stack-overflow" href="http://stackoverflow.com/users/664904/jlego">StackOverflow</a></li>
      <li><a class="icon-social-dribbble" href="https://dribbble.com/biggles">Dribbble</a></li>
      <li><a class="icon-social-medium" href="#">Medium</a></li>
    </ul>
    
  </div>
</section>



