<p id="notice"><%= notice %></p>

<p>
  <strong>Name cn:</strong>
  <%= @product.name_cn %>
</p>

<p>
  <strong>Name jp:</strong>
  <%= @product.name_jp %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @product.introduction %>
</p>

<p>
  <strong>Release time:</strong>
  <%= @product.release_time %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
